/* .wrapper {
    width: 420px;
    background: transparent;
    border-width: 20px;
    border-style: double;
    border-image: linear-gradient(to right, #c982dc , rgb(63, 139, 136));
    border-image-slice: 1;
    padding: 20px;
}

body {
    background-image: url("bg.jpg");
  } */

  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  #quiz-container {
    margin-top: 50px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .option-button {
    display: block;
    margin: 10px auto;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #score {
    margin-top: 20px;
    font-size: 20px;
  }
  