<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz App</title>
        <link rel="stylesheet" href="questions.css">
    </head>
    <body>
        <div id="quiz-container">
            <h1>Quiz App</h1>
            <div id="question"></div>
            <div id="options"></div>
            <button id="previous-button"
                style="display: none;">Previous</button>
            <button id="next-button">Next</button>
            <button id="restart-button" style="display: none;">Restart</button>
            <div id="score">Score: 0</div>
        </div>
        <script src="questions.js"></script>
    </body>
</html>
