body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.wrapper {
  background: transparent;
  border-width: 20px;
  border-style: double;
  border-image: linear-gradient(to right, #c982dc, rgb(63, 139, 136));
  border-image-slice: 1;
  width: 100%;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 2rem;
}

.input-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(to right, #c982dc, rgb(63, 139, 136));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(to right, rgb(63, 139, 136), #c982dc);
}

input::placeholder {
  color: #aaa;
}

input:focus {
  box-shadow: 0 0 5px #c982dc;
}
